@import "tailwindcss";

@theme {
  --color-dark-100: #000000;
  --color-light-100: #ffffff;

  --color-primary-100: #9f6bee;
  --color-primary-200: #ab7bf0;
  --color-primary-300: #b78bf3;
  --color-primary-400: #c29cf5;
  --color-primary-500: #cdacf7;
  --color-primary-600: #d7bcf9;

  --color-surface-100: #000000;
  --color-surface-200: #1e1e1e;
  --color-surface-300: #353535;
  --color-surface-400: #4e4e4e;
  --color-surface-500: #696969;
  --color-surface-600: #858585;

  --color-surface-tonal-100: #16101b;
  --color-surface-tonal-200: #2b2630;
  --color-surface-tonal-300: #423d46;
  --color-surface-tonal-400: #5a565e;
  --color-surface-tonal-500: #736f77;
  --color-surface-tonal-600: #8d8a90;
}
